#$HOSTNAME
:2016
tls /home/USER/.local/certificates/cert.crt /home/USER/.local/certificates/cert.key

# The negotiation endpoint is also proxied to Rocket
reverse_proxy /notifications/hub/negotiate 127.0.0.1:2016

# Notifications redirected to the websockets server
reverse_proxy /notifications/hub 127.0.0.1:3012

reverse_proxy 127.0.0.1:8000

log {
     output file /var/log/caddy.log
 }
