.nemo-window .view {
  background-color: #404040;
  color: #DBDBDB;
}

.nemo-window .nemo-inactive-pane .view {
  background-color: #303030;
  color: #CBCBCB; }

.nemo-window .view:selected:focus,
.nemo-window .view:selected,
.nemo-window .nemo-inactive-pane .view:selected:focus,
.nemo-window .nemo-inactive-pane .view:selected {
  background-color: #e54e73; }