/* colors */

* {
  bg:                           #280F28ff;
  fg:                           #ffffffA6;
  ac:                           #8d62ad;
  bc:                           #4b80b2;
  
  background-color:             transparent;
  background:                   #280F28ff;
/*background-transparent:       #2E3440A0;*/
  text-color:                   #ffffffA6;
  primary:                      #8d62ad;
  secondary:                    #3B4252;
 /*urgent:                       #BF616A;*/
}
