
.nemo-window .view {
/* Sidebar & Background */
           background-color: #545454;
/* Sidebar & Background Text */  
          color: #DBDBDB;
}

.nemo-window .nemo-inactive-pane .view {
/* Extra Pane */ 
           background-color: #303030;
/* Extra Pane Text */  
          color: #CBCBCB; }

.nemo-window .view:selected:focus,
.nemo-window .view:selected,
.nemo-window .nemo-inactive-pane .view:selected:focus,
.nemo-window .nemo-inactive-pane .view:selected {
/* Selection Highlight */
  background-color: #e54e73; }
