configuration {
  location: 0;
  /*xoffset: 200;*/
  yoffset: -100;
  show-icons:         true;
  icon-theme:        "Papirus-Dark";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:              "drun,run,window,ssh,calc,clipboard:greenclip print,keys";
  sidebar-mode:       true;
  display-drun:      "apps";
  sidebar:            true;
  columns:            3;
}
@import "/usr/share/rofi/themes/Arc-Dark.rasi"
